{% import 'bootstrap/wtf.html' as wtf %} {% macro render_todo(todo, delete_form,
update_form)%}
<div>
  <b>Description:</b>
  <p>{{todo.to_dict().description}}</p>
</div>
{% if todo.to_dict().done %}
<span class="btn btn-success"> Terminada </span>
{% else %}
<span class="btn btn-danger"> Por Hacer </span>
{% endif %}
<div class="dashboard__buttons">
  {% if todo.to_dict().done  is not true %}
  {{wtf.quick_form(update_form, action=url_for('update', todo_id=todo.id, done=todo.to_dict().done),extra_classes='button-secondary') }}
  {%endif%}
  {{wtf.quick_form(delete_form, action=url_for('delete', todo_id=todo.id),extra_classes='button-secondary') }}
</div>
{% endmacro %}
