{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{%block title%}
{{super()}}
Signup
{%endblock%}
{%block content%}
<div class="container main">
  <div class="main__item--text">
    <h1>Que no te quede ninguna tarea pendiente!</h1>
  </div>
  <div class="main__item--content">
    <img src="{{url_for('static', filename='images/main_svg.svg')}}" alt="">
    <span class="form__signup">
      <h2>Registrate</h2>
      {{ wtf.quick_form(signup_form, extra_classes='form__signup')}}
    </span>
  </div>
</div>
{%endblock%}